/ utility /
.mr-20{
  margin-right: 20px;
}
.pr-1{
  padding-right: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
/ utility /

/* / header / */
header a{
  text-decoration: none;
}
nav{
  height: 80px;
  line-height: 80px;
}
nav a{
  padding: 0 10px;
}
/* header logo */
.header-logo img {
  height: 20px;
}
/* header menù */
.header-menu{
  text-align: right;
}
.header-menu i {
  display: none;
}
.list-inline li{
  list-style: none;
  display: inline-block;
  color: black;
}
a{
  color: black;
  text-decoration: none;
}
.header-menu, .header-langs{
  font-size: 0.70rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header-langs li:not(:last-child) a{
  border-right: 1px solid black;
}
/* /header menù */
.bg-hero {
  background-image: url(../img/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-text{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.hero-text h1{
  font-size: 2.5rem;
}
.hero-text p{
  margin: 20px 0 30px 0;
}
.hero-text img{
  height: 80px;
}
/* / header / */

/* / main / */
#models{
  height: 700px;
  padding: 2rem;
  margin-bottom: 2rem;
}
#models .card{
  text-align: center;
  background-color: #fafafa;
}
#models .card h2{
  padding-top: 80px;
}
#models .card img{
  max-width: 100%;
}
.card img:first-child {
  max-height: 100px;
  padding-top: 80px;
}
.card a {
  display: block;
  color: blue;
  text-decoration: none;
}
.card p {
  padding: 20px 0;
  font-size: 1.5rem;
}
/* bg oldman */
.bg-oldman {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../img/old-man.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* / bg oldman */
#smartphone {
  height: 1000px;
}
#smartphone img {
  max-height: 700px;
  top: 50%;
  left: 50%;
  transform: translateY(-70%);
}
#smartphone h2 {
  font-size: 3em;
  text-align: left;
}
#smartphone h4 {
  font-size: 2rem;
  font-weight: normal;
}
#smartphone p {
  font-size: 1.5rem;
  padding: 25px 0;
}
#smartphone p, #smartphone h4{
  padding-left: 20px;
}
/* / main */
/* NOTE @meadia query */
@media all and (min-width: 769px)  and (max-width: 1200px) {
  /* header menu hamburger */
  .header-logo img{
    padding-left: 2.5rem;
    margin: auto;
  }
  .header-menu li {
    display: none;
  }
  .header-menu i  {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    margin-left: 7em;
    padding-right: 2.5em
  }
  .header-langs {
    display: none;
  }
  /*  /menu hamburger */
  /* section models */
  .card p, .card a {
    font-size: 1.7rem;
  }
 .card img:last-child {
   max-height: 400px;
 }
 #smartphone img {
   display: inline-block;
 }
}
@media all and (max-width: 768px) {
  /* header menu hamburger */
  .header-logo img{
    padding-left: 2.5rem;
    margin: auto;
  }
  .header-menu li {
    display: none;
  }
  .header-menu i  {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    margin-left: 3em;
    padding-right: 2.5em;
  }
  .header-langs {
    display: none;
  }
  /*  /menu hamburger */
  /* section models */
  .card p, .card a {
    font-size: 1.7rem;
  }
 .card img:last-child {
   max-height: 400px;
 }
 #smartphone img {
   display: inline-block;
 }
}
